/**
 * @file
 * @project 796
 * @package sftheme
 * @site app1
 */

/* main */


a:link {
	color: #546030;
	text-decoration: underline;
}

a:visited {
	color: #546030;
	text-decoration: underline;
}

a:hover {
	color: #546030;
	text-decoration: none;
}

.sf_wrapper {
	background-image: url(images/796_main-bkg-tile_1.gif);
	background-repeat: repeat-y;
	background-color: #ffffff;
}

.sf_main_header {
	color: #725624;
}

.sf_region5 {
	background-image: url(images/796_pagetitle_1.jpg);
	background-repeat: no-repeat;
	background-color: #ECEADD;
}

.sf_pagetitle {
	color: #725624;
}

.sf_footer {
	background-image: url(images/796_footer_1.gif);
	background-repeat: repeat-y;
	color: #FAF8EC;
}

.sf_footer a:link {
	color: #FAF8EC;
}

.sf_footer a:visited {
	color: #FAF8EC;
}

.sf_footer a:hover {
	color: #FAF8EC;
}

/* navigation */

.sf_navigation ul li a {
	background-image:url(images/796_navbkg_1.gif);
	background-repeat: repeat-y;
	color: #FAF8EC;
}

.sf_navigation ul li a:visited {
	color: #FAF8EC;
}

.sf_navigation ul li a:hover{
	background-image:url(images/796_navbkg-ovr_1.gif);
	background-repeat: repeat-y;
	color: #FAF8EC;
}

/* subnav */

.sf_navigation .subnav li a {
	color: #FAF8EC;
	background-color:#BBAA89;
	background-image: none;
	border-bottom:1px solid #AE9D7C;
}

.sf_navigation .subnav li a:visited {
	color: #FAF8EC;
}

.sf_navigation .subnav li a:hover {
	color: #FAF8EC;
	background-color:#C5B493;
	background-image: none;
}

/* easy DB */

.Data_Central_color1 {
 background-color:#546030;
 color:#ffffff;
}
.Data_Central_color2 {
 background-color:#CFC6B5;
 color:#333;
}
.Data_Central_color3 {
 background-color:#ECEADD;
 color:#333;
}
.Data_Central_color3 a,
.Data_Central_color3 a:visited {
 color:#333;
 text-decoration:underline;
}
.Data_Central_color3 a:hover {
 color:#333;
 text-decoration:none;
}
.Data_Central_color4 {
 background-color:#ffffff;
 color:#333;
}
.Data_Central_color5 {
 border-color:#EFEFEF;
}
.Data_Central_color6 {
 background-color:#EFEFEF;
 color:#333;
}
.Data_Central_color7 {
 background-color:#654917;
 color:#ffffff;
}

