body { background-image: url(images/bg_0fxa.jpg);
 }
body#page_2f7f2222-85bb-466c-a7ed-60312cb687b6 div# { width:50%; }
body#page_fdc5043a-e8f9-4385-b3ad-b767e2ade8e4 div#layoutcontainer { width:97.3%; }
body#page_2f7f2222-85bb-466c-a7ed-60312cb687b6 div#layoutcontainer { width:97.3%; }
